.catalog {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 210px;
  align-items: flex-start;
}

.catalog__image {

}

.catalog__title {
  display: block;
  margin: 0;
  padding: 0;
  width: 120px;
  text-transform: uppercase;
}

.catalog__table {
  position: absolute;
  width: 130px;
  margin-left: 140px;
  margin-top: 50px;
}

.catalog__field {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.catalog__value {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.33;
}

.catalog__link {
  width: 280px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: @leaf-color;
  color: @white-color;
}

.catalog__item-more {
  min-height: 210px;
}

.catalog__more-title {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
  color: @black-two-color;
}

.catalog__more-text {
  font-family: Arial;
  font-size: 12px;
  line-height: 1.33;
}

.catalog__more-link {
  display: block;
  width: 280px;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: @grey-brown-color;
  background-color: @white-three-color;
}

@media(min-width: @tablet-width) {
  .catalog {
    padding: 0 30px;
    width: 708px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
    width: 324px;
    min-height: 431px;
    margin-bottom: 140px;
    background-color: @white-three-color;
  }

  .catalog__image {

  }

  .catalog__title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog__table {
    position: inherit;
    margin: 0;
    padding: 0;
  }

  .catalog__field {
    font-size: 16px;
    line-height: 1;
  }

  .catalog__value {
    font-size: 16px;
    line-height: 1;
  }

  .catalog__link {
    width: 250px;
  }

  .catalog__item-more {
    width: 324px;
    height: 431px;
  }

  .catalog__more-title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog__more-text {
    font-size: 16px;
    line-height: 1;
  }

  .catalog__more-link {
    width: 250px;
  }
}

 @media(min-width: @desktop-width) {
   .catalog {
     padding: 0 20px;
     width: 1220px;
   }

   .catalog__list {

   }

   .catalog__item {
     width: 245px;
     min-height: 431px;

   }

   .catalog__image {

   }

   .catalog__title {

   }

   .catalog__table {

   }

   .catalog__field {

   }

   .catalog__value {

   }

   .catalog__link {
     width: 170px;
   }

   .catalog__item-more {
     width: 245px;
     height: 431px;
   }

   .catalog__more-title {

   }

   .catalog__more-text {
   }

   .catalog__more-link {
     width: 170px;
   }
}
