.contacts {
  min-height: 514px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

.contacts__text {
  display: block;
  margin-top: 27px;
  margin-bottom: 27px;
  width: 140px;
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  color: @black-two-color;
  text-transform: uppercase;
  background-color: @white-color;
}

.contacts__adress {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 27px;
  padding: 0;
  width: 140px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  background-color: @white-color;
}

.contacts__map {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  // min-width: 320px;
}





// .contacts {
//   //Временно
//   min-height: 475px;
//   &--catalog {
//     background-color: @white-three-color;
//   }
// }
//
// .contacts__wrapper {
//   display: flex;
//   justify-content: space-between;
//   margin: 0 auto;
//   padding: 0 20px;
//   width: 280px;
//   min-height: 114px;
// }
//
// .contacts__wrapper-catalog {
  // background-color: @white-three-color;
  // margin: 0;
  // padding: 0;
// }
//
// .contacts__text {
  // display: block;
  // margin-top: 27px;
  // width: 140px;
  // font-size: 16px;
  // line-height: 1.25;
  // font-weight: normal;
  // color: @black-two-color;
  // text-transform: uppercase;
  // background-color: @white-color;
  // z-index: 2;
// }
//
// .contacts__adress {
//   margin: 0;
//   margin-top: 27px;
//   padding: 0;
//   width: 140px;
//   font-family: Arial, sans-serif;
//   font-size: 14px;
//   line-height: 1.43;
//   background-color: @white-color;
//   z-index: 2;
// }
//
// .contacts__map {
//   position: absolute;
//   margin-top: -40px;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: 1;
// }
//
// @media(min-width: @tablet-width) {
//   .contacts {
//     //Временно
//     min-height: 601px;
//   }
//
//   .contacts__wrapper {
//     width: 708px;
//     min-height: 201px;
//   }
//
//   .contacts__text {
//     font-size: 20px;
//     line-height: 1.25;
//     width: 200px;
//     padding-left: 40px;
//   }
//
//   .contacts__adress {
//     padding-right: 42px;
//     text-align: right;
//     font-size: 16px;
//     line-height: 1.25;
//     width: 155px;
//   }
// }
//
//   @media(min-width: @desktop-width) {
//     .contacts {
//
//     }
//
//     .contacts__wrapper {
//
//       justify-content: flex-start;
//       width: 1220px;
//     }
//
//     .contacts__text {
//       background-color: @white-color;
//     }
//
//     .contacts__adress {
//       background-color: @white-color;
//     }
//   }
