.contacts {
  //Временно
  min-height: 515px;
  &--catalog {
    background-color: @white-three-color;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
  min-height: 114px;
}

.contacts__wrapper-catalog {
  // background-color: @white-three-color;
  // margin: 0;
  // padding: 0;
}

.contacts__text {
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  color: @black-two-color;
  text-transform: uppercase;
  // background-color: @white-color;
}

.contacts__adress {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  // background-color: @white-color;
}

.contacts__map {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media(min-width: @tablet-width) {
  .contacts {
    //Временно
    min-height: 601px;
  }

  .contacts__wrapper {
    width: 708px;
    min-height: 201px;
  }

  .contacts__text {
    font-size: 20px;
    line-height: 1.25;
    width: 200px;
  }

  .contacts__adress {
    font-size: 16px;
    line-height: 1.25;
    width: 155px;
  }
}

  @media(min-width: @desktop-width) {
    .contacts {

    }

    .contacts__wrapper {

      justify-content: flex-start;
      width: 1220px;
    }

    .contacts__text {
      background-color: @white-color;
    }

    .contacts__adress {
      background-color: @white-color;
    }
  }
