.copyright {

}

.copyright__link {
  .ArialMT();
  font-size: @body-font-size * 1.143;
  line-height: @body-line-height * 0.889;
  color: @grey-brown-color;

}

.copyright__logo {
  .size(27px, 34px);
}
