.description {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
}

.description__title {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  color: @black-two-color;
}

.description__list {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
  font-family: Arial, sans-serif;
  line-height: 1.29;
}

.description__item {
  min-height: 60px;
  margin-bottom: 20px;
}

.description__text {
  margin: 0;
  margin-left: 80px;
  width: 200px;

  font-family: Arial, sans-serif;
  line-height: 1.29;
  &::before {
    content: "";

    position: absolute;

    margin-top: -4px;
    margin-left: -80px;
    width: 60px;
    height: 60px;

    background-color: @leaf-color;
  }
  &--diet {
    &::after {
      content: "";

      position: absolute;

      margin-top: -22px;
      margin-left: -217px;
      width: 26px;
      height: 29px;

      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &--water {
    &::after {
      content: "";

      position: absolute;

      margin-top: -25px;
      margin-left: -184px;
      width: 29px;
      height: 32px;

      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &--food {
    &::after {
      content: "";

      position: absolute;

      margin-top: -24px;
      margin-left: -233px;
      width: 23px;
      height: 30px;

      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &--time {
    &::after {
      content: "";

      position: absolute;

      margin-top: -24px;
      margin-left: -244px;
      width: 26px;
      height: 31px;

      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.description__number {
  display: none;
}

@media(min-width: @tablet-width) {
  .description {
    padding: 0 30px;
    width: 708px;
  }

  .description__title {
        margin-top: 15px;

        font-size: 60px;
        line-height: 1;
  }

  .description__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        margin-top: 71px;
        margin-bottom: 12px;
  }

  .description__item {
    width: 354px;
    min-height: 300px;
    margin-bottom: 17px;
    &:nth-child(2n) {
      width: 325px;
    }
  }

  .description__text {
    margin-top: 112px;
    margin-left: 0;
    width: 245px;
    font-size: 16px;
    line-height: 1.5;
    &::before {
      margin-top: -112px;
      margin-left: 0;
      width: 80px;
      height: 80px;
    }
  }

  .description__text--diet {
    &::after {
      margin-top: -135px;
      margin-left: -150px;
    }
  }

  .description__text--water {
    &::after {
      margin-top: -135px;
      margin-left: -110px;
    }
  }

  .description__text--food {
    &::after {
      margin-top: -135px;
      margin-left: -166px;
    }
  }

  .description__text--time {
    &::after {
      margin-top: -135px;
      margin-left: -40px;
    }
  }

  .description__number {
    display: block;
    z-index: -1;
    position: absolute;
    margin-top: -260px;
    margin-left: 92px;

    font-size: 281px;
    color: @white-three-color;
  }
}



// @media(min-width: @tablet-width) {
//   .description {
//     padding: 0 30px;
//     width: 708px;
//     //Временно
//     min-height: 730px;
//   }
//
//   .description__title {
//     margin-top: 15px;
//     font-size: 60px;
//     line-height: 1;
//   }
//
//   .description__list {
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-top: 71px;
//     margin-bottom: 12px;
//   }
//
//   .description__item {
    // width: 354px;
    // min-height: 300px;
    // margin-bottom: 17px;
    // &:nth-child(2n) {
    //   width: 325px;
    // }
//   }
//
//   .description__text {
    // margin-top: 112px;
    // margin-left: 0;
    // width: 245px;
    // font-size: 16px;
    // line-height: 1.5;
    // &::before {
    //   margin-top: -112px;
    //   margin-left: 0;
    //   width: 80px;
    //   height: 80px;
    //
    // }
//   }
//
  // .description__text--diet {
  //   &::after {
  //     margin-top: -135px;
  //     margin-left: -150px;
  //   }
  // }
  //
  // .description__text--water {
  //   &::after {
  //     margin-top: -135px;
  //     margin-left: -110px;
  //   }
  // }
  //
  // .description__text--food {
  //   &::after {
  //     margin-top: -135px;
  //     margin-left: -166px;
  //   }
  // }
  //
  // .description__text--time {
  //   &::after {
  //     margin-top: -135px;
  //     margin-left: -97px;
  //   }
//   }
//
//   .description__number {
    // display: block;
    // z-index: -1;
    // position: absolute;
    // margin-top: -222px;
    // margin-left: 110px;
    // font-size: 281px;
    // color: @white-three-color;
//   }
// }
//
// @media(min-width: @desktop-width) {
//   .description {
//     padding: 0 20px;
//     width: 1220px;
//     //Временно
//     min-height: 400px;
//   }
//
//   .description__title {
//
//   }
//
//   .description__list {
//     flex-direction: row;
//   }
//
//   .description__item {
//
//   }
//
//   .description__text {
//     &::before {
//
//     }
//   }
//
//   .description__text--diet {
//     &::after {
//
//     }
//   }
//
//   .description__text--water {
//     &::after {
//
//     }
//   }
//
//   .description__text--food {
//     &::after {
//
//     }
//   }
//
//   .description__text--time {
//     &::after {
//
//     }
//   }
//
//   .description__number {
//
//   }
// }
