//СМАРТФОН//

.example {
  background-color: @white-three-color;
}

.example__title {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  margin-left: 6.3%;
  padding-top: 16px;
  width: 280px;

  font-size: 36px;
  line-height: 1.67;
  font-weight: normal;
  color: @black-two-color;
}

.example__wrapper {
  display: flex;
  flex-direction: column;
}

.example__text {
  margin: 0;
  margin-left: 6.3%;
  margin-right: 10.6%;
  padding: 0;

  font-family: "Arial", sans-serif;
  line-height: 1.29;
}

.example__list {
  display: flex;
  justify-content: space-between;

  margin: 0 6.3%;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  width: 43%;
}

.example__text-top {
  display: block;

  padding: 15px 0;

  font-size: 24px;
  font-weight: normal;
  color: @black-two-color;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__text-bottom {
  display: block;

  margin: 0 auto;
  margin-top: -8px;
  padding: 0 12.1%;
  width: 45%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  text-align: center;

  background-color: @white-three-color;
}

.example__amount {
  display: block;

  margin: 25px 0;

  line-height: 1.43;
  color: @black-two-color;

  text-align: center;
  text-transform: uppercase;
}
