.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -66px;
  right: 0;
  z-index: 2;

  padding: 33px;
  width: 24px;
  height: 24px;

  background-color: transparent;
  background-repeat: no-repeat;
  box-sizing: border-box;

  cursor: pointer;
  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 20px;

  width: 25px;
  height: 18px;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 20px;
  right: 20px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
}

@media (max-width: @mobile-width-only) {

  .main-nav--closed .nav-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .nav-list__item {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

//
// .main-nav {
//   position: relative;
// }
//
// .main-nav__toggle {
//   position: absolute;
//   top: -45px;
//   right: 12px;
//   z-index: 2;
//
//   display: block;
//   margin-left: 200px;
//
//   background-color: @white-color;
//   background-repeat: no-repeat;
//
//   cursor: pointer;
//   border: none;
// }
//
// .main-nav__list {
//   margin: 0;
//   padding: 0;
//
//   list-style: none;
// }
//
// .main-nav--closed .main-nav__toggle::before {
//   content: "";
//
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   width: 25px;
//   height: 18px;
//
//   background-image: url("../img/icon-mobile-menu.svg");
//   background-repeat: no-repeat;
// }
//
// .main-nav--opened .main-nav__toggle::before {
//   content: "";
//
//   position: absolute;
//   top: 0;
//   left: 0;
//
//   width: 19px;
//   height: 19px;
//
//   background-image: url("../img/icon-close.svg");
//   background-repeat: no-repeat;
// }
//
//
// @media (max-width: @mobile-width-only) {
//
//   .main-nav--closed .nav-list__item {
//     display: none;
//   }
//
//   .main-nav--nojs .main-nav__toggle {
//     display: none;
//   }
// }
//
// @media (min-width: @tablet-width) {
//   .main-nav__toggle {
//     display: none;
//   }
// }
