//СМАРТФОН//

.nav-list {
  font-weight: 500;
}

.nav-list__link {
  display: block;

  padding: 22px 0;

  font-size: 20px;
  color: @black-two-color;

  text-transform: uppercase;
  text-align: center;

  border-bottom: 1px solid @white-three-color;
  cursor: pointer;

  &:hover[href],
  &:focus[href] {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active[href] {
    color: rgba(17, 17, 17, 0.3);
  }
}

//ПЛАНШЕТ//

@media (min-width: @tablet-width) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;

    font-weight: normal;
  }

  .nav-list__item {
    margin-left: 36px;
  }

  .nav-list__link {
    position: relative;
    padding: 0;

    font-size: 18px;
    line-height: 1.39;

    border: none;

    &--active {
      &::before {
        content: "";

        position: absolute;
        top: 32px;
        left: 0;

        width: 100%;
        height: 2px;

        background-color: @leaf-color;
      }
    }
  }
}

//ДЕСКТОП//

@media (min-width: @desktop-width) {
  .nav-list {
    margin-top: 77px;
  }

  .nav-list__link {
    font-size: 20px;
    line-height: 1.25;
    color: @white-color;

    &:hover[href],
    &:focus[href] {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active[href] {
      color: rgba(255, 255, 255, 0.3);
    }

    &--active {
      &::before {
        background-color: @white-color;
      }
    }
  }
}
