.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  list-style: none;
  //Временно для сетки
  min-height: 195px;
}

.nav-list__item {

}

.nav-list__link {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: @black-two-color;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .nav-list {
    flex-direction: row;
    //Временно для сетки
    min-height: 83px;
    width: 440px;
  }

  .nav-list__item {

  }

  .nav-list__link {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    color: @black-color;
    &--active {
      border-bottom: 2px solid @leaf-color;
    }
  }
}

@media(min-width: @desktop-width) {
  .nav-list {
    //Временно для сетки
    width: 570px;
  }

  .nav-list__item {

  }

  .nav-list__link {
    font-size: 20px;
    line-height: 1.25;
    &--index {
      color: @white-color;
      border-color: @white-color;
    }
  }
}
