.other-list {
  list-style: none;
}

.other-list__item {

}

.other-list__title {
  .Oswald-regular();
  font-size: @body-font-size * 1.143;
  line-height: @body-line-height * 0.889;
  color: @black-color;
  text-transform: uppercase;
}

.other-list__text {
  .ArialMT();
  font-size: @body-font-size;
  line-height: @body-line-height * 0.778;
}

.other-list__link {
  font-size: @body-font-size * 1.143;
  line-height: @body-line-height * 1.112;
  text-transform: uppercase;
  background-color: @leaf-color;
  color: @white-color;
}
