.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 44px;
  padding-bottom: 15px;
  height: 39px;

  border-bottom: 1px solid @white-three-color;
  &:hover[href],
  &:focus[href] {
    opacity: 0.8;
  }
  &:active[href] {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    border: none;
    padding: 0;
    padding-left: 30px;
    margin-top: 25px;
    margin-right: 90px;
    height: 59px;
  }

  .page-header__logo-image {
    max-width: 171px;
    height: 59px;
  }
}


// .page-header {
//   margin: 0 auto;
//   padding: 0 20px;
//   width: 280px;
// }
//
// .page-header__logo {
//   display: block;
//   width: 100%;
// }
//
// .page-header__logo-image {
//   padding-top: 11px;
//   padding-bottom: 15px;
//   width: 191px;
//   height: 39px;
// }
//
// @media (max-width: @mobile-width-only) {
//   .page-header__logo {
//     &::before {
//       content: "";
//
//       position: absolute;
//       top: 65px;
//       left: 0;
//
//       width: 100%;
//       height: 1px;
//
//       background-color: @white-three-color;
//     }
//   }
// }
//
// @media (min-width: @tablet-width) {
//   .page-header {
//     display: flex;
//     justify-content: space-between;
//     padding: 0 30px;
//     width: 708px;
//   }
//
//   .page-header__logo-image {
//     padding-top: 24px;
//     padding-bottom: 0;
//     width: 174px;
//     height: 59px;
//   }
// }
//
// @media (min-width: @desktop-width) {
//   .page-header {
//     padding: 0 20px;
//     width: 1220px;
//   }
//
//   .page-header__logo-image {
//     padding-top: 53px;
//     width: 203px;
//     height: 60px;
//   }
// }
