//СМАРТФОН//

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 6.3%;
  width: 191px;
  height: auto;

  .page-header__logo img {
    width: 191px;
    height: auto;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    margin-top: 65px;
    min-width: 320px;
    width: 100%;
    height: 1px;

    background-color: @white-three-color;
  }

  &:hover[href],
  &:focus[href] {
    opacity: 0.8;
  }

  &:active[href] {
    opacity: 0.6;
  }
}

//ПЛАНШЕТ//

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo {
    margin-top: 24px;
    margin-left: 3.9%;
    width: 174px;

    &::before {
      display: none;
    }
  }

  .page-header__logo img {
    width: 174px;
  }
}

//ДЕСКТОП//

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .page-header__logo {
    margin-top: 53px;

    width: 203px;
  }

  .page-header__logo img {
    width: 203px;
  }
}
