.proposal {
  margin-bottom: 150px;
}

.proposal__wrapper {
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @leaf-color;
  .size(320px, 305px)
}

.proposal__title {
  font-size: @body-font-size * 2.572;
  line-height: @body-line-height * 2;
  color: @white-color;
  .Oswald-regular();
}

.proposal__text {
  font-size: @body-font-size;
  line-height: @body-line-height * 0.778;
  color: @white-color;
  text-transform: uppercase;
}

.proposal__image {
  .size(280px, 270px)
}

.proposal__link {
  text-transform: uppercase;
  color: @white-color;
  background-color: @leaf-color;
}
