.social {

}

.social__list {
  list-style: none;
}

.social__item {

}

.social__link {
  font-size: 0;
  &--vk {
    display: block;
    background-image: url("../../img/icon-vk-mobile.svg");
    background-repeat: no-repeat;
    .size(22px, 12px);
  }

  &--in {
    display: block;
    background-image: url("../../img/icon-insta-mobile.svg");
    background-repeat: no-repeat;
    .size(17px, 17px);
  }

  &--fb {
    display: block;
    background-image: url("../../img/icon-fb-mobile.svg");
    background-repeat: no-repeat;
    .size(10px, 19px);
  }
}
