.social__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 93px;
  padding-right: 82px;
}

.social__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 36px;
  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.social__link {

}

.social__link-logo {
}














//
//
//
// @media (min-width: @tablet-width) {
//   .social__list {
//
//   }
//
//   .social__item {
//
//   }
//
//   .social__link {
//     &--vk {
//       width: 30px;
//       height: 16px;
//     }
//     &--in {
//       width: 23px;
//       height: 23px;
//     }
//     &--fb {
//       width: 14px;
//       height: 28px;
//     }
//   }
// }
